header{
    height: 150px;
    position: sticky;
    top: 0;
    
   
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    border-bottom: 2px solid black;
    transition: all 1s;
    background-color: white;

    .nav-link{
        a{
            margin-left: 46px;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #000;
        }
        a:hover{
            color: grey;
        }
    }
    .togl{
        width: 50px;
    }
    
}
.nav-togl{
    display: none;
}
.togle{
    .nav-togl{
    display: block ;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color:white;
     padding-left: 20px;
     
    a{
        display: block;
        margin-top: 30px;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #000;
        
    }
    a:hover{
        color: grey;
    }
    .yoqbol{
        width: 15px;
        margin-right: 20px;
    }
    div{
        display: flex;
        justify-content: space-between;
    }
    }
}
// .togl-yoqbolish{
//     .nav-togl{
//         display: none;
//     }    
// }


@media screen and (max-width:1000px) {
    .nav-link{
        display: none;
    }
    .togl{
        display: block;
    }
}
@media screen and (min-width:1000px){
    .togl{
        display: none;
    }
}
